*{
    margin: 0px;
    padding: 0px;
}

/* Shared styles */

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    
}


/* Border styies */
.hero-bg{
    background-image:url("./image/Hero-bg.png");
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding: 50px 0px;
}
.logo{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
  /* font-weight: <weight>; */
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
    text-decoration: none;
    list-style: none;
}
.hero-content{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.hero-section{
    margin: 309px 276px 236px 276px;
    text-align: center;
}
div button {
    margin-top: 37px;
}

/* Main styles */
.about {
    margin: 116px 160px 116px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-content h4{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.about-content p{
    font-size: 24px;
    color: #252432;
    opacity: 50%;
}
.about-img img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.user {
    margin: 0 160px 137px 140px;
    background: #A7A5EE;
    padding: 50px 142px;
    border-radius: 24px;
    }
.user-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
    padding-bottom: 40px;
}
.user-status li {
    list-style: none;
    text-decoration: none;
}
.user-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-status li h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.user-status li p {
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.comments-section {
    margin: 137px 150px;
}
.comments-section h2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding-bottom: 50px;
}
.comments-box {
    display: flex;
    justify-content: space-evenly;
    
}
.box-size {
    height: 243px;
    width: 366px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.075)
}
.stars i {
  color: gold;
  font-size: 20px;
  margin-right: 2px;
}
.comments-box h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #1E1E1E;
}
.comments-box p{
    margin-bottom: 24px;
    color: #1E1E1E;
}
.Reviewer{
    display: flex;
    
}
.Reviewer img {
    height: 40px;
    width: 40px;
    border-radius: 200px;
}
.Reviewer-details {
    margin-left: 12px;
}
.Reviewer-details h4 {
    color: #757575;
}
.Reviewer-details p {
    color: #B3B3B3;
}

.template-section {
    margin: 0 150px 95px;
    padding: 71px 150px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.075)
}
.template-section h1{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.template-section p {
    color: #000000;
    opacity: 50%;
    margin: 20px 326px -20px;
}
.template img{
    height: 365px;
    width: 840px;
    border-radius: 48px;
    margin-top: 20px;
}